hr{
  margin: 0px;
  background: linear-gradient(135deg, #FAB2FF 10%, #1904E5 100%);
  height: 3px;
}

h1, h2{
 margin: 0px
}

body {
  overflow-x: hidden; 
}

.loading{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.header-container {
    padding: 20px;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

.main-container {
  width: 100vw;
}

.top-container {
  display: flex;
  height: 300px;
}

.actions{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.buttons{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.buttons button{
  width: 70%;
  height: 50px;
  font-size: larger;
}

.info{
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.status-marker{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-left: 6px;
}
.status{
  display: flex;
  align-items: center;
}

.right-container {
    flex:1;
    margin-right: 17px;
    box-sizing: border-box;
}

.bottom-container {
  background-color: rgba(0, 0, 0, 0.02);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.log-box {
  width: calc(50% - 9px);
  height: 400px;
  padding: 10px 5px;
  box-sizing: border-box;
}
.log-box:nth-child(even) {
  margin-right: 17px;
  box-sizing: border-box;
}

.simulation-info {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
