<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>{{entity}}</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content #scrollBox>
            <div #messages *ngFor="let log of logs">
                <div class="icon-log" *ngIf="getIcon(log)">
                    <mat-icon style="padding-right: 8px;">{{getIcon(log)}}</mat-icon>{{ log }}
                </div>
                <div *ngIf="!getIcon(log)"><ul class="list-log"><li>{{log}}</li></ul></div>
            </div>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar [color]="isRunning ? 'primary' : 'warn'" [value]="isRunning ? 0 : 100" [mode]="isRunning ? 'indeterminate' : 'determinate'"></mat-progress-bar>
    </mat-card-footer>
</mat-card>
